### Fake News Detection Problem

In [38]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
import re
import string   #removig the special char

In [39]:
df_fake=pd.read_csv("Fake.csv")
df_true=pd.read_csv("True.csv")

In [40]:
df_fake.head(10)

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017"
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017"
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017"
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017"
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017"

In [41]:
df_true.head(10)

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
5,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...",politicsNews,"December 29, 2017"
6,"Trump says Russia probe will be fair, but time...","WEST PALM BEACH, Fla (Reuters) - President Don...",politicsNews,"December 29, 2017"
7,Factbox: Trump on Twitter (Dec 29) - Approval ...,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
8,Trump on Twitter (Dec 28) - Global Warming,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
9,Alabama official to certify Senator-elect Jone...,WASHINGTON (Reuters) - Alabama Secretary of St...,politicsNews,"December 28, 2017"

In [42]:
df_fake["class"]=0
df_true["class"]=1

In [43]:
df_fake.shape,df_true.shape

((23481, 5), (21417, 5))

In [44]:
df_fake.shape,df_true.shape
for i in range(23480,23470,-1):
    df_fake.drop([i],axis=0,inplace=True)
df_true_manual_testing=df_true.tail(10)
for i in range(21416,21406,-1):
    df_true.drop([i],axis=0,inplace=True)

In [45]:
df_manual_testing=pd.concat([df_fake_manual_testing,df_true_manual_testing],axis=0)
df_manual_testing.to_csv("manual_testing.csv")

NameError: name 'df_fake_manual_testing' is not defined

In [46]:
df_marge=pd.concat([df_fake,df_true],axis=0)
df_marge.head(10)

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [47]:
df=df_marge.drop(["title","subject","date"],axis=1)
df.head(10)

                                                text  class
0  Donald Trump just couldn t wish all Americans ...      0
1  House Intelligence Committee Chairman Devin Nu...      0
2  On Friday, it was revealed that former Milwauk...      0
3  On Christmas day, Donald Trump announced that ...      0
4  Pope Francis used his annual Christmas Day mes...      0
5  The number of cases of cops brutalizing and ki...      0
6  Donald Trump spent a good portion of his day a...      0
7  In the wake of yet another court decision that...      0
8  Many people have raised the alarm regarding th...      0
9  Just when you might have thought we d get a br...      0

In [48]:
df = df.sample(frac=1)

In [49]:
df.head(10)

                                                    text  class
3357   Recently, at one of his  thank you  rallies, D...      0
1565   The world is eagerly awaiting the testimony of...      0
7720   NEW YORK (Reuters) - U.S. oil and gas industry...      1
13492  Says the guy whose legacy will be a war on cop...      0
6180   Jimmy Kimmel landed a rare, on-air appearance ...      0
16000  AMSTERDAM (Reuters) - Authorities in the Nethe...      1
16996  ATHENS (Reuters) - Two Macedonian nationals wa...      1
18868  The most laughable  news  network in America j...      0
3582   Now that they have someone they think is their...      0
1875   While campaigning, Donald Trump vowed to build...      0

In [50]:
df.isnull().sum()

text     0
class    0
dtype: int64

In [51]:
def word_drop(text):             #TO REMOVE UNNECESSARY CHAR I USE THIS FUNCTION
    text=text.lower()
    text=re.sub('\[.*?\]','',text)
    text=re.sub("\\W"," ",text)
    text=re.sub('https?://\S+|www\.\S+','',text)
    text=re.sub('<.*?>+','',text)
    text=re.sub('[%s]'% re.escape(string.punctuation),'',text)
    text=re.sub('\n','',text)
    text=re.sub('\w*\d\w*','',text)      
    return text

In [52]:
df["text"] = df["text"].apply(word_drop)

In [53]:
df.head(10)

                                                    text  class
3357   recently  at one of his  thank you  rallies  d...      0
1565   the world is eagerly awaiting the testimony of...      0
7720   new york  reuters    u s  oil and gas industry...      1
13492  says the guy whose legacy will be a war on cop...      0
6180   jimmy kimmel landed a rare  on air appearance ...      0
16000  amsterdam  reuters    authorities in the nethe...      1
16996  athens  reuters    two macedonian nationals wa...      1
18868  the most laughable  news  network in america j...      0
3582   now that they have someone they think is their...      0
1875   while campaigning  donald trump vowed to build...      0

In [54]:
x=df["text"]
y=df["class"]

In [55]:
x_train,x_test,y_tarin,y_test=train_test_split(x,y,test_size=.25)

In [56]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [57]:
vectrorization=TfidfVectorizer()
xv_train=vectrorization.fit_transform(x_train)
xv_test=vectrorization.transform(x_test)

### Logistic

In [61]:
from sklearn.linear_model import LogisticRegression

In [62]:
LR=LogisticRegression()
LR.fit(xv_train,y_tarin)

LogisticRegression()

In [63]:
LR.score(xv_test,y_test)

0.9868983957219252

In [64]:
pred_LR=LR.predict(xv_test)

In [65]:
print(classification_report(y_test,pred_LR))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5819
           1       0.99      0.99      0.99      5401

    accuracy                           0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

### Decision Tree classification

In [66]:
from sklearn.tree import DecisionTreeClassifier

In [67]:
DT=DecisionTreeClassifier()
DT.fit(xv_train,y_tarin)

DecisionTreeClassifier()

In [69]:
DT.score(xv_test,y_test)

0.9959893048128342

In [70]:
pred_DT=DT.predict(xv_test)

In [71]:
print(classification_report(y_test,pred_DT))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      5819
           1       1.00      1.00      1.00      5401

    accuracy                           1.00     11220
   macro avg       1.00      1.00      1.00     11220
weighted avg       1.00      1.00      1.00     11220

### Gradient Boosting Classifier

In [72]:
from sklearn.ensemble import GradientBoostingClassifier

In [73]:
GBC= GradientBoostingClassifier(random_state=0)
GBC.fit(xv_train,y_tarin)

GradientBoostingClassifier(random_state=0)

In [74]:
GBC.score(xv_test,y_test)

0.9950980392156863

In [75]:
pred_GBC=GBC.predict(xv_test)

In [76]:
print(classification_report(y_test,pred_GBC))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00      5819
           1       0.99      1.00      0.99      5401

    accuracy                           1.00     11220
   macro avg       1.00      1.00      1.00     11220
weighted avg       1.00      1.00      1.00     11220

### Random Foret Classifier

In [77]:
from sklearn.ensemble import RandomForestClassifier

In [78]:
RFC=RandomForestClassifier(random_state=0)
RFC.fit(xv_train,y_tarin)

RandomForestClassifier(random_state=0)

In [79]:
RFC.score(xv_test,y_test)

0.9893048128342246

In [80]:
pred_RFC=RFC.predict(xv_test)

In [81]:
print(classification_report(y_test,pred_RFC))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5819
           1       0.99      0.99      0.99      5401

    accuracy                           0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

### Manual Testing

In [ ]:
def output_lable(n):
    if n == 0:
        return "Fake News"
    elif n == 1:
        return "Not A Fake News"
    
def manual_testing(news):
    testing_news = {"text":[news]}
    new_def_test = pd.DataFrame(testing_news)
    new_def_test["text"] = new_def_test["text"].apply(word_drop) 
    new_x_test = new_def_test["text"]
    new_xv_test = vectrorization.transform(new_x_test)
    pred_LR = LR.predict(new_xv_test)
    pred_DT = DT.predict(new_xv_test)
    pred_GBC = GBC.predict(new_xv_test)
    pred_RFC = RFC.predict(new_xv_test)

    return print("\n\nLR Prediction: {} \nDT Prediction: {} \nGBC Prediction: {} \nRFC Prediction: {}".format(output_lable(pred_LR[0]), 
                                                                                                              output_lable(pred_DT[0]), 
                                                                                                              output_lable(pred_GBC[0]), 
                                                                                                              output_lable(pred_RFC[0])))

In [ ]:
news = str(input())
manual_testing(news)